//* Base white color *//
$white: #fff;

//* Contextual aliases *//
$color-nav-hover: $white;
$button-color: $white;

//* Base primary color *//
$color-primary: #58e1c1;

//* Contextual aliases *//
$color-primary-headline: $color-primary;
$bkg-color-hover: $color-primary;
$border-color: $color-primary;

//* Base secondary color *//
$color-secondary: #777;

//* Contextual aliases *//
$color-base: $color-secondary;
$color-secondary-headline: $color-secondary;

//* Base accent color *//
$color-accent: #51ddfc;

//* Contextual aliases *//
$color-link: $color-accent;
$color-button-bg-default: $color-accent;
$color-grid-bg: $color-accent;

$img-border: #ccc;

$break-m: 768px;